<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Karaoke Notes</title>

      <!-- Stylesheets ====================================== -->
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>

   <body>
      <div class="container">
      
      <% if (typeof error == "object" && error) { %>
         <div class="row">
            <div class="col s12">
               <div class="card red lighten-4">
                  <div class="card-content red-text text-darken-4">
                     <span class="card-title">Oops!</span>
                     <p><%= error.text %></p>
                  </div>
               </div>
            </div>
         </div>
      <% } %>